@import "../../style/variables.scss";

.burgerMenue {
  height: 100%;
  padding: clamp(0.625rem, -0.913rem + 7.69vw, 4.375rem);
  // padding: 50px;
  position: relative;
  // z-index: 999;
  // background: linear-gradient($color-background);
  // width: 50%;
  // max-height: 100vh;
  // min-height: 100vh;
  // top: 0;
  // left: -1000px;
  // transition: left 0.3s;
  // overflow-x: auto;
  // &::before {
  //   content: "";
  //   display: block;
  //   width: 700px;
  //   height: 700px;
  //   position: absolute;
  //   bottom: -150px;
  //   left: -300px;
  //   background-image: url("../../resources/img/mooviesPageDecor16.png");
  //   background-position: center;
  //   background-repeat: no-repeat;
  //   background-size: contain;
  //   opacity: 0.3;
  // }
  // &.show {
  //   left: 0;
  // }
  &__wrapper {
    position: absolute;
    z-index: 999;
    width: 50%;
    height: 100vh;
    top: 0;
    left: -1000px;
    visibility: hidden;
    transition: all 0.3s;
    background: linear-gradient($color-background);
    // padding: 50px;
    // min-height: 100vh;
    &.show {
      left: 0;
      visibility: visible;
    }

    &::before {
      content: "";
      display: block;
      width: 650px;
      height: 650px;
      position: absolute;
      bottom: -150px;
      left: clamp(-25rem, -27.564rem + 12.82vw, -18.75rem);
      // left: -300px;
      background-image: url("../../resources/img/mooviesPageDecor16.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      opacity: 0.3;
      // @media (max-width: 600px) {
      //   width: 550px;
      //   height: 550px;
      // }
    }
  }
  &__scroll {
    height: 100vh;
  }

  &__nav-list {
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 53px;
    padding: 0 0 50px;

    @media (max-width: 600px) {
      gap: 34px;
    }
  }
  &__nav-link {
    display: inline-block;
    max-width: 180px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 30px;
    line-height: 23px;
    color: $color-text-white-secondary;
    margin-left: 20px;

    @media (max-width: 600px) {
      font-size: 24px;
      max-width: 120px;
      margin-left: 6px;
    }

    & a {
      text-decoration: none;
      color: inherit;
    }
    &::after {
      content: "";
      position: relative;
      left: 10px;
      display: block;
      height: 2px;
      width: 0;
      background-color: #ff004d;
      margin-top: 2px;
      transition: 0.2s;
    }
    &:hover::after {
      content: "";
      display: block;
      height: 2px;
      width: 100%;
      background-color: #ff004d;
      margin-top: 2px;
    }
    &:hover .burgerMenue__verticalBar {
      opacity: 0;
    }
  }
  &__verticalBar {
    position: relative;
    display: inline-block;
    top: 4px;
    width: 2px;
    height: 32px;
    background: $color-text-white-secondary;
    margin-right: 5px;
    transition: all 0.2s;
    @media (max-width: 600px) {
      top: 3px;
      width: 1px;
      height: 24px;
    }

    &.hide {
      opacity: 0;
    }
  }
  // &__nav-link:before {
  //   content: "";
  //   position: absolute;
  //   height: 18px;
  //   width: 1px;
  //   background-color: $color-text-white-secondary;
  //   display: block;
  //   left: -25px;
  //   top: 3px;
  // }
}
