@import "../../style/variables.scss";
.single-found {
  width: 100%;
  min-height: 100vh;
  padding: 190px clamp(1.875rem, -0.088rem + 9.81vw, 11.688rem) 50px;
  background: linear-gradient(149.91deg, #233458 13.36%, #111827 98.15%);
  &::before {
    content: "";
    display: block;
    width: 1000px;
    height: 1000px;
    position: fixed;
    right: clamp(-30rem, -32.375rem + 11.88vw, -18.125rem);
    bottom: clamp(-31.25rem, -33.75rem + 12.5vw, -18.75rem);
    background-image: url("../../resources/img/mooviesPageDecor7.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.3;
  }
  &__container {
    padding: 0 30px;
    max-width: 1546px;
    margin: auto;
    // border: 1px solid red;
  }
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(100px, auto) 1fr 1fr 1fr 1fr;
    row-gap: 15px;
    column-gap: 40px;
    @media (max-width: 860px) {
      grid-template-rows: minmax(100px, auto) auto 1fr auto 1fr;
    }
    @media (max-width: 500px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto;
      column-gap: 0;
    }
  }
  &__prewiev {
    max-width: 350px;
    position: relative;
    grid-row: 1/4;
    @media (max-width: 1200px) {
      grid-row: 1/3;
    }
    @media (max-width: 500px) {
      grid-row: 2/3;
    }
  }

  &__poster {
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 30px -12px rgb(6, 6, 9);
    position: relative;

    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  &__like-wrapper {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 999;
  }
  &__button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    &:hover {
      .single-found__trailer path {
        fill: #ab0234;
        opacity: 0.7;
      }
    }
    @media (max-width: 1200px) {
      font-size: 10px;
    }
  }
  &__information {
    @media (max-width: 650px) {
      grid-column: 2/3;
      grid-row: 1/3;
      margin-top: 50px;
    }
    @media (max-width: 500px) {
      grid-column: 1/2;
      grid-row: 1/2;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 0;
    }
  }
  &__title {
    font-family: "Bebas Neue";
    font-weight: 600;
    font-size: 72px;
    line-height: 72px;
    @media (max-width: 860px) {
      font-size: 38px;
      line-height: 42px;
      font-weight: 400;
    }
    @media (max-width: 500px) {
      text-align: center;
    }
  }
  &__title-btn {
    display: block;
    text-align: center;
    margin: clamp(0.938rem, 0.5rem + 2.19vw, 3.125rem) 0;
    width: 85%;
    max-width: 272px;
    text-decoration: none;
    @media (max-width: 650px) {
      width: 96%;
    }
  }
  &__description {
    max-width: 800px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    grid-column: 2/3;
    grid-row: 2/3;
    @media (max-width: 1200px) {
      grid-row: 2/5;
    }
    @media (max-width: 650px) {
      grid-column: 1/3;
      grid-row: 3/4;
    }

    & h3 {
      margin-bottom: 20px;
    }
  }
  &__meta {
    border-spacing: 0px;
    border-collapse: collapse;
    text-align: left;
    max-width: 300px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    grid-column: 2/3;
    @media (max-width: 1200px) {
      grid-column: 1/2;
      grid-row: 3/4;
    }
    @media (max-width: 650px) {
      grid-row: 4/5;
    }
    & tr {
      margin-left: 30px;
      border-bottom: 1px solid ($color-text-gray);
    }
    & td {
      padding: 10px;
      &:first-child {
        color: ($color-text-gray);
      }
    }
  }
}
