@import "../../style/variables.scss";
.single-found {
  width: 100%;
  min-height: 100vh;
  padding: 190px clamp(1.875rem, -0.088rem + 9.81vw, 11.688rem) 50px;
  background: linear-gradient(149.91deg, #233458 13.36%, #111827 98.15%);
  &::before {
    content: "";
    display: block;
    width: 1000px;
    height: 1000px;
    position: fixed;
    right: clamp(-30rem, -32.375rem + 11.88vw, -18.125rem);
    // right: -290px;
    bottom: clamp(-31.25rem, -33.75rem + 12.5vw, -18.75rem);
    // bottom: -300px;
    background-image: url("../../resources/img/mooviesPageDecor7.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.3;
  }
  &__container {
    padding: 0 30px;
    max-width: 1546px;
    margin: auto;
    // border: 1px solid red;
  }
  // &__content {
  //   display: grid;
  //   gap: clamp(1.25rem, -1rem + 11.25vw, 12.5rem);
  // }
  &__content {
    display: flex;
    gap: clamp(1.25rem, -1rem + 11.25vw, 12.5rem);
    // gap: 200px;
  }
  &__prewiev {
    // width: 400px;
    position: relative;
  }

  &__poster {
    width: clamp(12.5rem, 10.053rem + 12.23vw, 21.875rem);
    height: clamp(18.75rem, 15.161rem + 17.94vw, 32.5rem);

    // flex-basis: 50%;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 30px -12px rgb(6, 6, 9);
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      display: block;
      //   max-width: 350px;
      //   min-width: 120px;
    }
  }
  &__button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    &:hover {
      .single-found__trailer path {
        fill: #ab0234;
        opacity: 0.7;
      }
    }
  }
  &__information {
    // max-width: 800px;
    flex-basis: 60%;
  }
  &__title {
    font-family: "Bebas Neue";
    font-weight: 600;
    font-size: 72px;
    line-height: 72px;
  }
  &__title-btn {
    display: block;
    text-align: center;
    margin: 50px 0;
    width: 272px;
    text-decoration: none;
  }
  &__description {
    max-width: 800px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    & h3 {
      margin-bottom: 20px;
    }
    & p {
      margin-bottom: 40px;
    }
  }
  &__meta {
    border-spacing: 0px;
    border-collapse: collapse;
    text-align: left;
    width: 300px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    // @media (max-width: 1240px) {
    //   position: absolute;
    //   left: 150px;
    //   bottom: 10px;
    // }

    & tr {
      margin-left: 30px;
      border-bottom: 1px solid ($color-text-gray);
    }
    & td {
      padding: 10px;
      &:first-child {
        color: ($color-text-gray);
      }
    }
  }
}
