@import "../../style/variables.scss";
.home-description {
  // color: aliceblue;
  background: rgba(0, 0, 0, 0.543);
  padding: 26px;
  max-width: 520px;
  border-radius: 8px;
  // position: absolute;
  // margin-top: 200px;
  margin-left: 160px;
  // top: 200px;
  // left: 160px;
  @media (max-width: 1000px) {
    width: clamp(16.25rem, -9.75rem + 130vw, 29.25rem);

    margin: auto;
  }
  @media (min-height: 1200px) {
    width: 450px;
    padding: 40px 50px;
  }
  &__title {
    font-family: "Bebas Neue";
    font-weight: 600;
    font-size: 72px;
    line-height: 72px;
    @media (max-width: 550px) {
      font-size: 60px;
      line-height: 60px;
    }
    @media (max-width: 400px) {
      font-size: 40px;
      line-height: 40px;
    }
  }

  &__info-list {
    margin: 10px 0 10px;
    display: flex;
    gap: 16px;
    &.main_list {
      @media (max-width: 435px) {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 20px;
      }
    }

    & li {
      position: relative;
      color: $color-text-white-secondary;
      &:first-child {
        color: $color-text-white;
        &::before {
          content: "";
        }
      }
    }
    & li + li::before {
      content: "";
      width: 1px;
      height: 16px;
      background-color: $color-text-white-secondary;
      display: block;
      top: 4px;
      left: -8px;
      position: absolute;
    }
  }
  &__rating {
    & span:first-child {
      background-color: #ff004d;
      padding: 4px 5px;
      text-transform: uppercase;
      margin-right: 8px;
      border-radius: 4px;
    }
    &.main_rating {
      @media (max-width: 435px) {
        margin-left: -10px;
      }
    }
  }
  &__text {
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 35px;
  }
  &__buttons-wrapper {
    display: flex;
    gap: 16px;
    @media (max-width: 440px) {
      flex-direction: column;
    }
    & > .button:first-child {
      margin: 0;
    }
  }
}
