@import "../../style/variables.scss";

.favorites {
  width: 100%;
  min-height: 100vh;
  padding: 190px clamp(1.875rem, -0.088rem + 9.81vw, 11.688rem) 50px;
  background: linear-gradient(149.91deg, #233458 13.36%, #111827 98.15%);
  &::before {
    content: "";
    display: block;
    width: 800px;
    height: 800px;
    position: fixed;
    right: clamp(-25rem, -28.125rem + 15.63vw, -9.375rem);
    bottom: clamp(-21.875rem, -22.5rem + 3.13vw, -18.75rem);
    background-image: url("../../resources/img/mooviesPageDecor13.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.3;
  }

  &__container {
    margin: auto;
  }
  &__title-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__title {
    font-family: "Inter";
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    word-break: break-all;
  }
  &__header {
    font-family: "Inter";
    font-weight: 700;
    font-size: 24px;
    line-height: 45px;
    white-space: nowrap;
  }
  &__stroke {
    width: 100%;
    height: 0px;
    border: 1px solid rgba(80, 74, 121, 0.5);
  }
}
