.homePage {
  width: 100%;
  min-height: 100vh;
  background-position: 60% 10%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0 15px;

  @media (max-width: 844px) {
    padding-top: 180px;
  }
}
