@import "../../style/variables.scss";
.search-movies {
  width: 100%;
  // min-height: 1080px;
  min-height: 100vh;
  padding: 190px clamp(1.875rem, -0.088rem + 9.81vw, 11.688rem) 50px;
  background: linear-gradient(149.91deg, #233458 13.36%, #111827 98.15%);
  &::before {
    content: "";
    display: block;
    width: 1050px;
    height: 1050px;
    position: fixed;
    bottom: -350px;
    right: -380px;
    background-image: url("../../resources/img/mooviesPageDecor12.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.3;
  }

  &__container {
    padding: 0 30px;
    // max-width: 1546px;
    margin: auto;
  }
  &__main {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    flex-basis: 50%;
    margin-top: 60px;
    z-index: 10;
  }
  &__title {
    font-family: "Bebas Neue";
    font-weight: 600;
    font-size: 72px;
    line-height: 72px;
  }
  &__description {
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 40px;
  }
  & a {
    text-decoration: none;
  }
  &__poster {
    width: clamp(12.5rem, 10.053rem + 12.23vw, 21.875rem);
    height: clamp(18.75rem, 15.161rem + 17.94vw, 32.5rem);
    object-fit: cover;
    position: relative;
    background: linear-gradient(149.91deg, #1b274166 13.36%, #0c111d 98.15%);
    & img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50px;
      left: -50px;
      &:first-child {
        box-shadow: 2px 2px 30px -12px rgb(6, 6, 9);
      }
      &:last-child {
        position: absolute;
        left: -200px;
        top: 95px;
        height: 500px;
        width: 550px;
      }
    }
    & .favorites-btn {
      top: 70px;
      right: 70px;
    }
  }
  &__related-container {
    margin-top: 80px;
  }
  &__related {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__related-title {
    font-family: "Inter";
    font-weight: 700;
    font-size: 24px;
    line-height: 45px;
  }
  &__related-stroke {
    width: 100%;
    height: 0px;
    border: 1px solid rgba(80, 74, 121, 0.5);
  }
}
