@import "../../style/variables.scss";

.episodes {
  width: 100%;
  min-height: 100vh;
  padding: 190px clamp(1.875rem, -0.088rem + 9.81vw, 11.688rem) 50px;
  background: linear-gradient(149.91deg, #233458 13.36%, #111827 98.15%);
  &::before {
    content: "";
    display: block;
    width: 1050px;
    height: 1050px;
    position: fixed;
    right: clamp(-33.125rem, -34.375rem + 6.25vw, -26.875rem);
    bottom: clamp(-26.25rem, -27.5rem + 6.25vw, -20rem);
    background-image: url("../../resources/img/mooviesPageDecor8.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.3;
  }

  &__container {
    margin: auto;
  }
  &__title-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__title {
    font-family: "Inter";
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    word-break: break-all;
  }
  &__stroke {
    width: 100%;
    height: 0px;
    border: 1px solid rgba(80, 74, 121, 0.5);
  }
  &__galery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    row-gap: 30px;
    column-gap: 50px;
    margin-top: 20px;

    @media (max-width: 1400px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 900px) {
      grid-template-columns: 1fr;
      row-gap: 50px;
    }
  }
  &__galery-item {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    @media (max-width: 900px) {
      justify-content: center;
    }
    @media (max-width: 600px) {
      justify-content: center;
      flex-direction: column;
      gap: 25px;
    }

    &:last-child .scroll-wrapper__episodes.active {
      height: 110%;
    }
  }
  &__img-container {
    width: 100%;
    max-width: 500px;
    min-height: 100px;
    position: relative;
    transition: transform 0.3s;
    &:hover {
      transform: scale(1.1);
      .episodes__img {
        border: 1px solid rgb(6, 143, 145);
      }
    }
  }
  &__img {
    background: #233458;
    box-shadow: 2px 2px 30px -12px rgb(6, 6, 9);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 5px;
    border: 1px solid rgba(6, 143, 145, 0);
    position: relative;
    display: flex;
    justify-content: center;

    cursor: pointer;
    &_no-picture {
      max-width: 200px;
      max-height: 200px;
      object-fit: cover;
      display: block;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
    :last-child {
      width: 50px;
      height: 50px;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      opacity: 0;
      visibility: hidden;
      &.active {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__description {
    display: block;
    width: 100%;
    height: 100%;

    overflow: hidden;
    background-color: #111827;

    font-size: 16px;
    & span {
      color: $color-text-gray;
      margin-right: 5px;
    }
    &.active {
      min-height: 100%;
      overflow: visible;
    }
  }
  &__more {
    border: 1px solid $color-text-gray;
    padding: 2px 5px;
    cursor: pointer;
    color: $color-text-gray;
    border-radius: 3px;
    transition: 0.2s;
    &:hover {
      color: #b7b6b6;
      border: 1px solid #b7b6b6;
    }
  }
  &__data {
    width: 130px;
    @media (max-width: 600px) {
      width: 100%;
    }
    & span {
      color: $color-text-gray;
    }
  }
}

.scroll-wrapper__episodes {
  display: block;
  width: 100%;
  height: 86px;
  padding: 10px;
  background-color: #111827;
  margin-bottom: 5px;
  font-size: 16px;
  border-radius: 5px;

  &.active {
    border: 1px solid rgb(6, 143, 145);
    transition: height 0.3s;
    max-width: 100%;
    height: 120%;
    z-index: 999;
    position: absolute;
    top: 0;
    cursor: pointer;
    @media (max-width: 900px) {
      height: 101%;
    }
  }
}
