@import "./variables.scss";

.signin > h2,
.signup > h2 {
  margin-bottom: 10px;
}

.signin > form,
.signup > form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 30px;
  margin-bottom: 20px;
  & input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 8px;
    padding: 10px;
    outline: none;
    &[name="photo"] {
      cursor: pointer;
      & + label {
        // background-color: aliceblue;
      }
    }
  }
}
#feedback {
  color: $color-red;
}
.reg-success {
  color: rgb(14, 158, 14);
}
.login-link {
  color: $color-red;

  & a {
    margin-left: 20px;
    color: $color-text-white-secondary;
  }
}
