$color-text-white: #f7f7f7;
$color-text-white-secondary: #c9c9c9;
$color-text-black: #030303;
$color-text-gray: #444444;
$color-background: 149.91deg, #233458 13.36%, #111827 98.15%;
$color-background-transparent: 149.91deg, #233458b9 13.36%, #111827bb 98.15%;
// $color-background-transparent: 149.91deg, #23345893 13.36%, #1118279e 98.15%;
$color-button-blue: 166.88deg, #7d96dc 5.05%, #1d4ed8 90.55%;
$color-button-grey: rgba(255, 255, 255, 0.04);
$color-blue: #1d4ed8;
