@import "../../style/variables.scss";

.signin {
  width: 100%;
  min-height: 1080px;
  padding: 190px clamp(1.875rem, -0.088rem + 9.81vw, 11.688rem) 50px;
  // background: linear-gradient(149.91deg, #233458 13.36%, #111827 98.15%);
  background-image: linear-gradient(-90deg, #233458b7 1%, #08152f 98.15%),
    url("../../resources/img/5.jpg");
  // background-position: 5% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  & h2 {
    color: $color-red;
  }
}
