.anime-slider {
  width: 100%;
  height: 300px;

  margin: 0 auto;
  // margin-bottom: 50px;

  &__element {
    display: flex !important;
    justify-content: center;
    align-items: center;
    // padding: 0 15px;
  }
  &__card {
    width: 176px;
    height: 300px;
    // height: 234px;
    position: relative;
    transition: transform 0.2s;
    &:hover {
      transform: translateY(-20px);
      .anime-slider__img {
        box-shadow: -1px 8px 24px 0px #ff004d;
      }
    }
  }
  &__img {
    width: 100%;
    height: 234px;
    object-fit: cover;
    border-radius: 5px;
    // box-shadow: -1px 8px 24px 0px rgba(0, 1, 12, 0.598);
    position: absolute;
    bottom: 30px;

    cursor: pointer;

    // &:hover {
    //   transform: translateY(-20px);
    //   box-shadow: -1px 8px 24px 0px #ff004d;
    // }
  }

  &__desc {
    width: 100%;
    height: 50px;
    position: absolute;
    background: rgba(0, 0, 0, 0.519);
    bottom: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 16px;
    color: aliceblue;
    padding: 8px 10px;
    line-height: 14px;
  }

  & .prevBtn,
  & .nextBtn {
    z-index: 999;
    cursor: pointer;
    position: absolute;
    top: calc(50% - 20px);
    left: -40px;
    @media (max-width: 480px) {
      left: -20px;
    }
  }
  & .nextBtn {
    left: 100%;
    @media (max-width: 480px) {
      left: 94%;
    }
  }
}
